datasources:
  default:
    url: jdbc:postgresql://localhost:5432/template
    username: template
    password: template123
    driver-class-name: org.postgresql.Driver
    maximum-pool-size: 10
    minimum-idle: 2

jpa:
  default:
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
